<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="8293b089efcf4d7c86faac2a80e58787" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_8293b089efcf4d7c86faac2a80e58787 = echarts.init(
            document.getElementById('8293b089efcf4d7c86faac2a80e58787'), 'white', {renderer: 'canvas'});
        var option_8293b089efcf4d7c86faac2a80e58787 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u9ad8\u6536\u5165\u56fd\u5bb6",
                    "value": 11
                },
                {
                    "name": "\u4e2d\u9ad8\u7b49\u6536\u5165\u56fd\u5bb6",
                    "value": 46
                },
                {
                    "name": "\u4e2d\u7b49\u6536\u5165\u56fd\u5bb6",
                    "value": 187
                },
                {
                    "name": "\u4e2d\u4f4e\u7b49\u6536\u5165\u56fd\u5bb6",
                    "value": 271
                },
                {
                    "name": "\u4f4e\u6536\u5165\u56fd\u5bb6",
                    "value": 510
                },
                {
                    "name": "\u6700\u4e0d\u53d1\u8fbe\u56fd\u5bb6\uff1a\u8054\u5408\u56fd\u5206\u7c7b",
                    "value": 458
                }
            ],
            "radius": [
                "30%",
                "75%"
            ],
            "center": [
                "25%",
                "50%"
            ],
            "roseType": "radius",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u9ad8\u6536\u5165\u56fd\u5bb6",
                    "value": 14.78795342
                },
                {
                    "name": "\u4e2d\u9ad8\u7b49\u6536\u5165\u56fd\u5bb6",
                    "value": 31.38632863
                },
                {
                    "name": "\u4e2d\u7b49\u6536\u5165\u56fd\u5bb6",
                    "value": 40.875384600000004
                },
                {
                    "name": "\u4e2d\u4f4e\u7b49\u6536\u5165\u56fd\u5bb6",
                    "value": 47.24233567
                },
                {
                    "name": "\u4f4e\u6536\u5165\u56fd\u5bb6",
                    "value": 102.1701792
                },
                {
                    "name": "\u6700\u4e0d\u53d1\u8fbe\u56fd\u5bb6\uff1a\u8054\u5408\u56fd\u5206\u7c7b",
                    "value": 98.7583458
                }
            ],
            "radius": [
                "30%",
                "75%"
            ],
            "center": [
                "75%",
                "50%"
            ],
            "roseType": "area",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u9ad8\u6536\u5165\u56fd\u5bb6",
                "\u4e2d\u9ad8\u7b49\u6536\u5165\u56fd\u5bb6",
                "\u4e2d\u7b49\u6536\u5165\u56fd\u5bb6",
                "\u4e2d\u4f4e\u7b49\u6536\u5165\u56fd\u5bb6",
                "\u4f4e\u6536\u5165\u56fd\u5bb6",
                "\u6700\u4e0d\u53d1\u8fbe\u56fd\u5bb6\uff1a\u8054\u5408\u56fd\u5206\u7c7b"
            ],
            "selected": {},
            "type": "scroll",
            "show": true,
            "top": 30,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5168\u7403\u5404\u56fd\u5b55\u5987\u6b7b\u4ea1\u6570\uff08\u6309\u6536\u5165\u5206\u7c7b\uff09",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_8293b089efcf4d7c86faac2a80e58787.setOption(option_8293b089efcf4d7c86faac2a80e58787);
    </script>

<form method="get" action="/">
    <p><input value='返回首页' type='SUBMIT'></p>
</form>

</body>
</html>
